{% extends 'base-jadwal.html' %}
{% load static %}

{% block content %}  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<body>
<div class="features" id="features">
    <div class="container">
        <div class="features-intro">
            <h3 style="color:black" class="text-center">Buat Jadwal Donor Darah</h3>
        </div>  
<br>
<p style="text-align:center;">Informasi mengenai lokasi donor darah dapat diakses <a href="{% url 'jadwal:show_location' %}">di sini</a>.</p>
<p style="text-align:center">Apabila terdapat data yang tidak sesuai, mohon maaf permintaan Anda tidak dapat kami proses.</p>
<br>

<section class="outer">
    <form method="POST">
        {% csrf_token %}
        <table style="margin-left:auto;margin-right:auto">
            {{ form.as_table }} 
                <tr>  
                    <td></td>
                    <td><br>
                        <input type="submit" name="submit" class="btn btn-outline-danger" style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%" value="Atur Jadwal"/></td>  
                </tr>   
        </table>
    </form>
</section>

</body>

{% endblock content %}