{% extends 'base-jadwal.html' %}

{% block content %}

<title>Lokasi Donor Darah</title>

<body>

<div class="container">
  <div class="features" id="features">
    <div class="container">
        <div class="features-intro">
            <h3 style="color:black" class="text-center">Daftar Lokasi Donor Darah</h3>
        </div>         
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Lokasi</th>
                <th>Alamat</th>
                <th>Jam Operasional</th>
                <th>Nomor Telepon</th>
            </tr>
        </thead>
        <br>
        <tbody>
            <tr">
              <td>PMI Provinsi DKI Jakarta</td>
              <td>Jl. Kramat Raya No.47, RT.3/RW.4, Kramat, Kec. Senen, Kota Jakarta Pusat, DKI Jakarta 10450</td>
              <td>24 Jam</td>
              <td>(021) 3906666</td>
            </tr>
            <tr>
              <td>PMI Kota Jakarta Utara</td>
              <td>Jl. Plumpang Semper No.54, RT.1/RW.4, Tugu Sel., Kec. Koja, Kota Jkt Utara, DKI Jakarta 14260</td>
              <td>24 Jam</td>
              <td>(021) 43935630</td>
            </tr>
            <tr>
              <td>PMI Kota Jakarta Pusat</td>
              <td>Jl. Pecenongan No.82, RT.2/RW.4, Kec. Gambir, Jakarta Pusat, DKI Jakarta 10420</td>
              <td>24 Jam</td>
              <td>(021) 3907878</td>
            </tr>
            <tr>
                <td>PMI Kota Jakarta Timur</td>
                <td>Jl. I Gusti Ngurah Rai No.77, RT.1/RW.16, Klender, Kec. Duren Sawit, Kota Jakarta Timur, DKI Jakarta 13470</td>
                <td>24 Jam</td>
                <td>(021) 8611832</td>
            </tr>
            <tr>
                <td>PMI Kota Jakarta Barat</td>
                <td>Jl. Perdana No.12, RT.1/RW.1, Wijaya Kusuma, Kec. Grogol Petamburan, Kota Jakarta Barat, DKI Jakarta 11460</td>
                <td>24 Jam</td>
                <td>(021) 5606378</td>
            </tr>
            <tr>
                <td>PMI Kota Jakarta Selatan</td>
                <td>Jl. Condet Pejaten No.9A, RT.1/RW.7, Pejaten Bar., Kec. Ps. Minggu, Kota Jakarta Selatan, DKI Jakarta 12510</td>
                <td>24 Jam</td>
                <td>(021) 7980332</td>
            </tr>
          </tbody>
    </table>
    <br>
    <br>
  </div>

</body>

{% endblock content %}